body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h3{
    font-weight: 400;
    color: rgb(18, 97, 100);
}
.name{
    color: rgb(175, 185, 27);
}
p{
    margin-bottom: 6%;
}
.welcome{
    width: 50%;
    padding-left: 5%;
}
.flexible-container{
    display: flex;
}
.welcome img{
    width: 100%;
    padding-top: 6%;
}
.contact{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 172, 22),rgb(240, 181, 181));
    padding: 10px 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    
}
.top{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
margin-bottom: 130px;

}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 180px;
}
.experience{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
   padding-left: 20px;
   box-shadow: 5px 5px 40px 8px gray;
   border-left: 10px solid red;
}
#unique{
    border-left: 10px solid blueviolet;
}
.last{
    margin-bottom: 120px;
}
footer p{
    text-align: center;
}